
body {
    font-size: 14px;
    background-color: #F8F9FA;
    font-family: 'Lato', sans-serif;
}

.thin-container {
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width: auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 2px;

    @media (max-width: 650px) {
        max-width: 767px;
    }

    @media (max-width: 530px) {
        padding: 0;
        border: 0;
    }
}
.navbar {
    background: #fff;
    color: #536579;
    border: 2;
    font-size: 16px;
    margin-bottom: 0px;
}

.custom-padding-reset {
  padding: 0;
}
.max-width-15 {
  max-width: 15%;
}
.container {
    margin: 0px;
    padding: 0px;
    width: inherit;
}
.container-max {
    margin: 0px;
    padding: 0px;
}